<div class="well well-sm">
  <div class="well well-sm font_colour_green"><center>Welecome to Efforts Tracking</center></div>
	<div class="well center_all">
	  <%= form_tag :action => "emp_validation" do |f| %>
		  <span class="lead">User Name</span>
			<%= text_field_tag :emp_name, params[:emp_name], placeholder: "Enter the user name", :class => "form-control" %><br/>
			<span class="lead">Eneter the password</span>
			<%= password_field :password, params[:password], placeholder: "Enetr the password", :class => "form-control" %><br/>
			<center><%= submit_tag "login" %></center>
		<% end %>
	</div>
</div>
