<tr>
  <td>
    <table>
      <thead>
        <tr>
          <th>hi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hi</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
