<div class="well well-sm">
  <span class="lead"><center><%= "showing Details of #{@goal.name}" %></center><span>
	<span class="pull-right"><%= link_to "Edit", :action => "edit", :id => @goal.id %></span>
</div>

<div class="well well-sm">
  <div class="col-sm-4">
  </div>
</div>
