// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font_colour_green{
 font-size:16px;
 font-weight: bold;
 color: blue;
}

.center_all{
  background    : #46BDED;
  font-weight   : bold;
  margin-top    : 80px;
  margin-bottom : 200px;
  margin-left   : 300px;
  margin-right  : 300px;
}
